.card-list {
  width: 65vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.cardcontainer {
  width: 150px;
  height: 220px;
  display: flex;
  flex-direction: column;
  background-color: #4d8e9e; /* light yellow */
  border: 1px solid grey;
  border-radius: 15px;
  padding: 30px;
  align-items: center;
  text-align: center;
  transition: transform 0.4s ease-out;
}

.cardcontainer:hover {
  transform: scale(1.1);
}
